@use 'variables' as *;

.collapse {
    max-width: 1023px;
    margin: 30px auto;
    border-radius: 5px;
    overflow: hidden;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        height: 54px;
        padding: 0;
        border-radius: 5px;

        .collapse-title {
            font-family: $font-family;
            font-size: $font-size;
            font-weight: $font-weight2;
            color: white;
            margin-left: 15px;
            line-height: 54px;
        }

        .collapse-arrow {
            width: 32px;
            height: 32px;
            transition: transform 0.3s ease;
            margin-right: 20px;
        }

        .collapse-arrow.open {
            transform: rotate(180deg);
        }
    }

    .collapse-content {
        background-color: #f6f6f6;
        padding: 10px 20px;
        line-height: 25.67px;
        font-family: $font-family;
        font-size: 18px;
        font-weight: 400;
        color: #333;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    
    .collapse-content.open {
        max-height: 500px; /* Ajuste selon la taille du contenu */
        opacity: 1;
    }

}

.firstsection {
    max-width: $banner-max-width;
    height: $first-section-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0 $padding-horizontal;
}

@media screen and (max-width: 768px) {
    .collapse {
        width: 335px;
        margin: 19px auto;

        .collapse-header {
            height: 30px;

            .collapse-title {
                font-size: 13px;
                line-height: 30px;
            }

            .collapse-arrow {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }

        .collapse-content {
            font-size: 12px;
            padding: 5px 10px;
            line-height: 17.11px;
        }
    }

    .firstsection {
        width: 335px;
        height: 111px;
        margin-top: 17px;
        margin-bottom: 27px;
    }

    section {
        margin-top: 19px;
    }
}