@use 'variables' as *;

.banner-section {
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-text {
    font-size: 48px;
    color: white;
    font-weight: 700;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    z-index: 1;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black; // Ou une autre couleur selon le design
}

@media screen and (max-width: 768px) {
.banner-text {
    font-size: 24px;
    width: 225px;
    position: relative;
    left: -36px;
}

.banner-section {
    border-radius: 10px;
}

}