@use 'variables' as *;

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #ffffff;

    h1 {
        font-size: 288px;
        font-weight: $font-weight2;
        color: #ff6060;
        margin: 0;
        line-height: 410.69px;
        margin-top: 139px;
    }

    p {
        font-size: 36px;
        font-weight: $font-weight;
        color: #ff6060;
        margin-top: 139px; 
        margin-bottom: 0;

        span {
            display: inline-block; 
            white-space: nowrap; 
        }
    }

    .back-home {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: 18px;
        color: $primary-color;
        text-decoration: underline;
        transition: color 0.3s;
        margin-top: 139px; 
        margin-bottom: 89px;
    }
}

@media screen and (max-width: 768px) {
    .error-page {

        h1 {
            font-size: 96px;
            line-height: normal;
            margin-top: 113px;
        }

        p {
            width: 260px; 
            font-size: 18px;
            margin-top: 113px;
            text-align: center;
            line-height: 1.5;

            span {
                display: inline; 
                white-space: nowrap; 
            }
        }

        .back-home {
            font-size: 14px;
            margin-top: 113px;
        }
    }
}
