@use 'variables' as *;

.first-section {
    max-width: $banner-max-width;
    height: $first-section-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0 $padding-horizontal;
}

.second-section {
    max-width: $banner-max-width; 
    background-color: #F6F6F6;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto; 
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 340px); 
    gap: 50px 60px; 
    justify-content: center; 
}

@media screen and (max-width: 768px) {
    .first-section {
        width: 335px;
        height: 111px;
        margin-top: 17px;
        margin-bottom: 27px;
        border-radius: 10px;
    }

    .first-section-text {
        width: auto;
        font-size: 24px;
        text-align: left; 
        padding-left: 16px; 
    }

    .second-section {
        background-color: white;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
    }
}
