@use 'variables' as *;

.logement {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
}

.info-logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: -30px;
}

.info-logement h1 {
    flex: 1;
    font-size: 36px;
    font-family: $font-family;
    font-weight: $font-weight;
    color: #ff6060;
}

.host-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.host-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.host-name p {
    margin: 2px;
    font-size: 18px;
    font-weight: $font-weight;
    color: #ff6060;
}

.host-info img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#logement-location {
    margin-top: -20px;
}

.top-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 0px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0;
    justify-content: flex-start;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    color: #ffffff;
    min-width: 95px;
    height: 25px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: $font-weight2;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    width: 196px;
}

.rating img {
    width: 24.75px;
    height: 24px;
}

.logement-collapses {
    display: flex;
    align-items: stretch; /* Important : aligne les collapses en hauteur */
    gap: 76px;
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;

    .collapse {
        display: flex;
        flex-direction: column;
        flex: 1; /* Chaque collapse prend la même largeur */
        border-radius: 10px;
        overflow: hidden;
        margin: 30px 0;
    }

    .collapse-header {
        background-color: #ff6060;
        color: white;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .collapse-title {
        font-size: 18px;
    }

    .collapse-content {
        background-color: #f6f6f6;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
        font-family: $font-family;
        font-weight: $font-weight;
        flex-grow: 1; /* Remplit tout l'espace disponible */
        padding: 15px; /* Ajoute un espace intérieur */
    }

    .collapse-content ul {
        list-style-type: none;
        padding-left: 0;
    }
}


@media screen and (max-width: 768px) {
    
    .logement {
        display: flex;
        flex-direction: column;
    }
        
    
    #logement-location {
        margin-top: -10px;
        font-size: 14px;
    }

    .tag {
        font-size: 10px;
        min-width: 64px;
    }
    
    .top-info {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .info-logement h1 {
        font-size: 18px;
    }

    .rating {
        justify-content: flex-start;
        gap: 6.5px;
    }

    .rating img {
        width: 13.41px;
        height: 13px;
    }

    .host-name p {
        font-size: 12px;
        margin: 0;
    }

    .host-info img {
        width: 32px;
        height: 32px;
    }

    .logement-collapses {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px !important;
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .logement-page .collapse {
        max-width: 100%;
        width: 335px;
        margin: 0 !important;
        border-radius: 5px;
    }

    .collapse-header {
        height: 30px !important;
    }

    .logement-page .collapse-title {
        margin: 0 !important;
        font-size: 13px !important;
    }

    .collapse-content {
        font-size: 12px !important;
        margin: 0 !important;
    }
}
