@use 'variables' as *;

body {
  font-family: $font-family;
  margin-top: $top-gap;
}

.active {
  text-decoration: underline;
}

.kasa-banner {
  max-width: $banner-max-width;
  width: 100%;
  height: $banner-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;

  nav {
    display: flex;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: $gap-between-items; 

        &:last-child {
          margin-right: 10px;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $primary-color;
          font-weight: $font-weight;
          font-size: $font-size;
          white-space: nowrap;

          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

section {
  margin-top: $gap-between-sections;
}

@media screen and (max-width: 768px) {
  .kasa-banner {
    max-width: 375px;
    padding: 0 20px;

    nav ul {
      gap: 16px;

      li {
        margin-left: 0;
      }

      li a {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .kasa-logo {
    width: 145px;
    height: 46.88px;
  }
}
