
$font-family: 'Montserrat', sans-serif;
$primary-color: black;
$font-weight: 500;
$font-weight2: 700;
$font-size: 24px;
$padding-horizontal: 20px;
$gap-between-sections: 50px;
$gap-between-items: 57px;
$banner-height: 68px;
$banner-max-width: 1240px;
$top-gap: 45px;
$footer-height: 209px;
$footer-logo-height: 39.44px;
$footer-logo-width: 122px;
$card: 340px;
